<div>
    <footer>
        <section class="footer-div">
            <div class="div-footer-last">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                            <div>
                                <img
                                    src="../../../../assets/img/footer-logo.png"
                                    class="img-fluid"
                                    alt />
                            </div>
                            <div style="margin-top: 15x">
                                <p style="color: white">
                                    <span style="color: #a5e8d3">Call
                                        Now:</span> 319-999-0115
                                </p>
                            </div>
                            <div style="margin-top: 10x">
                                <p style="color: #fff">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing<br />
                                    elit,sed do eiusmod tempor incididunt ut
                                    labore
                                </p>
                            </div>
                            <div class="footer-icon">
                                <div class="fb-icon">
                                    <i class="bi bi-facebook"
                                        style="color: #374f59"></i>
                                </div>
                                <div class="fb-icon">
                                    <i class="bi bi-twitter-x"
                                        style="color: #374f59"></i>
                                </div>
                                <div class="fb-icon">
                                    <i class="bi bi-youtube"
                                        style="color: #374f59"></i>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="Company-div">
                                <h5>Company</h5>
                            </div>
                            <div class="item-div">Home</div>
                            <div class="item-div">About us</div>
                            <div class="item-div">Contact us</div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="Company-div">
                                <h5>Candidate</h5>
                            </div>
                            <div class="item-div">Browse Jobs</div>
                            <div class="item-div">Browse Candidates</div>
                            <div class="item-div">Candidate Dashboard</div>
                            <div class="item-div">Saved Jobs</div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="Company-div">
                                <h5>Support</h5>
                            </div>
                            <div class="item-div">FAQ</div>
                            <div class="item-div">Privacy & Policy</div>
                            <div class="item-div">Terms & Conditions</div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="Company-div">
                                <h5>Download App</h5>
                            </div>
                            <div class="item-div">
                                <button class="btn">
                                    <img src="../../../../assets/img/app store.png" alt="">
                                </button>
                            </div>
                            <div class="item-div">
                                <a href="https://play.google.com/store/apps/details?id=in.cubemate.app" target="_blank">
                                    <button class="btn">
                                        <img src="../../../../assets/img/google pay.png" alt="">
                                    </button>
                                </a>
                              
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="call mt-5">
                                <h5>Call Now: <span class="text-white">319-999-0115</span></h5>
                            </div>
                            <div class="copy text-white mt-5">
                                <h6>Copyright <i class="bi bi-c-circle"></i> 2024 Create by Swami Infotech</h6>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="logo text-center mt-4">
                                <img src="../../../../assets/img/logo.png" alt="">
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="pt d-flex flex-wrap aligm-items-center justify-content-between mt-5">
                                <div class="pr">
                                    <h5 class="text-white">Privacy Policy</h5>
                                </div>
                                <div class="Tm">
                                    <h5 class="text-white">Terms Of Service</h5>
                                </div>
                            </div>
                            <div class="follow-us d-flex flex-wrap aligm-items-center mt-5">
                                <div class="fllow-title">
                                    <h6 class="text-white">Follow CubeMate: </h6>
                                </div>
                                <div class="social-icon d-flex flex-wrap aligm-items-center">
                                    <div class="fb">
                                        <i class="bi bi-facebook"></i>
                                    </div>
                                    <div class="twit">
                                        <i class="bi bi-twitter-x"></i>
                                    </div>
                                    <div class="you">
                                        <i class="bi bi-youtube"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>
