<div>
    <footer>
        <section class="footer-div">
            <div class="div-footer-last">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div>
                                <img
                                    src="../../../../assets/img/footer-logo.png"
                                    class="img-fluid"
                                    alt />
                            </div>
                            <div style="margin-top: 15x">
                                <p style="color: white">
                                    <span style="color: #a5e8d3">Call
                                        Now:</span> 319-999-0115
                                </p>
                            </div>
                            <div style="margin-top: 10x">
                                <p style="color: #fff">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing<br />
                                    elit,sed do eiusmod tempor incididunt ut
                                    labore
                                </p>
                            </div>
                            <div class="footer-icon">
                                <div class="fb-icon">
                                    <i class="bi bi-facebook"
                                        style="color: #374f59"></i>
                                </div>
                                <div class="fb-icon">
                                    <i class="bi bi-twitter-x"
                                        style="color: #374f59"></i>
                                </div>
                                <div class="fb-icon">
                                    <i class="bi bi-youtube"
                                        style="color: #374f59"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="Company-div">
                                <h5>Company</h5>
                            </div>
                            <div class="item-div">Home</div>
                            <div class="item-div">About us</div>
                            <div class="item-div">Contact us</div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="Company-div">
                                <h5>Candidate</h5>
                            </div>
                            <div class="item-div">Browse Jobs</div>
                            <div class="item-div">Browse Candidates</div>
                            <div class="item-div">Candidate Dashboard</div>
                            <div class="item-div">Saved Jobs</div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="Company-div">
                                <h5>Support</h5>
                            </div>
                            <div class="item-div">FAQ</div>
                            <div class="item-div">Privacy & Policy</div>
                            <div class="item-div">Terms & Conditions</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div style="color: #374F59; margin-top: 10px;"><p>Copyright
                            <i class="bi bi-c-circle"></i> 2024Creat
                            bySwamiinfotech </p></div>
                </div>
            </div>
        </div>
    </footer>
</div>
