.main{
    background-color: rgba(240, 244, 241, 1);
}
.title h2{
    color: rgba(38, 50, 56, 1);
}
.card{
    padding: 15px 50px;
    margin: 23px 0;
}
.progress-bar{
    background-color: rgba(55, 79, 89, 1) !important;
}
.progress-title h4{
    color: rgba(109, 146, 119, 1);
    text-align: end;
}
.success-cont h5{
    color: rgba(109, 146, 119, 1);
    font-size: 22px;
    font-weight: 700;
}
.success-cont h6{
    color: rgba(109, 146, 119, 1);
    font-size: 20px;
    font-weight: 600;
}
.successs-vector{
    margin-top: 20%;
}
.back-hom .btn{
    color: #fff;
    background-color: rgba(55, 79, 89, 1);
    width: 415px;
    border-radius: 40px;
    font-size: 24px;
    font-weight: 700;
}