<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="title text-center my-3">
                <h2>My Profile</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="profile">
                <div class="card px-3 m-2">
                    <div class="user-img text-center">
                        <img src="../../../../assets/img/profile.jpeg" alt="">
                        <div class="user-name">
                            <h4>Cristal Crizzal</h4>
                        </div>
                    </div>
                    <div class="skills my-4">
                        <div class="skill-title">
                            <h5>Skills</h5>
                        </div>
                        <div class="skil d-flex flex-wrap align-items-center justify-content-center">
                            <div class="profile-skil me-3">
                                <h6>Ui/Ux design</h6>
                            </div>
                            <div class="profile-skil">
                                <h6>Graphics</h6>
                            </div>
                        </div>
                        <div class="skil d-flex flex-wrap align-items-center justify-content-center">
                            <div class="profile-skil me-3">
                                <h6>Mobile App</h6>
                            </div>
                            <div class="profile-skil">
                                <h6>Website Design</h6>
                            </div>
                        </div>
                        <div class="add-skill text-center">
                            <button class="btn">+ Add Skills</button>
                        </div>
                    </div>
                    <div class="social-media">
                        <div class="social-title">
                            <h5>Social Media</h5>
                        </div>
                        <div class="social-list">
                            <ul>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                            </ul>
                        </div>
                        <div class="add-media text-center mb-3">
                            <button class="btn">+ Add Social Media</button>
                        </div>
                    </div>
                    
                  </div>
            </div>
          
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="profile-basic">
                <div class="card m-2">
                    <div class="basic-title text-center">
                        <h4>Basic Information</h4>
                    </div>
                    <form action="">
                        <div class="form-group">
                            <label for="" class="form-label">Email*</label>
                            <input type="email" class="form-contorl">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
