.user-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.skill-title h5{
    color: rgba(55, 79, 89, 1);
}
.profile-skil h6{
    background-color: rgba(165, 232, 211, 1);
    border-radius: 40px;
    padding:5px 15px;
    color: rgba(55, 79, 89, 1);
    font-weight: 600;
    font-size: 18px;
}
.add-skill{
    background-color: rgba(55, 79, 89, 1);
    border-radius: 10px;
    margin: 10px 0px;
}
.add-skill .btn{
    color: #fff;
}
.social-title h5{
    color: rgba(55, 79, 89, 1);
}
.social-list ul li{
    color: rgba(109, 146, 119, 1);
}
.add-media{
    background-color: rgba(165, 232, 211, 1);
    border-radius: 10px;
}
.basic-title h4{
    color: rgba(69, 90, 100, 1);
}
.save .btn{
    background-color: rgba(55, 79, 89, 1);
    color: #fff;
}
.edu .btn{
    background-color: rgba(55, 79, 89, 1);
    color: #fff;
}
.education ul li{
    list-style: none;
}
.education-details h4{
    color:rgba(55, 79, 89, 1);
}
.education-details span{
    color: rgb(71, 123, 107);
}
a{
    text-decoration: none;
    color: #000;
    display: flex;
}
