<app-navbar></app-navbar>
<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="main-body">
          <h2 class="text-h3-class">
            <b>Looking For A Better Opportunity?<br>
              Join Us And Make Things Happen</b>
          </h2>
          <p class="second-text-p">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id es Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. officia deserunt mollit anim id es
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="ExploreNow-btn">
            <button type="button" class="btn">Explore Now</button>
          </div>
        </div>


      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="main-img">
          <img src="/assets/img/sitted-man.png" alt class="img-fluid" />
        </div>

      </div>
    </div>
  </div>
</section>
<div class="hexagon">
  <div class="hexagon-1"><img src="../../../../assets/img/hexagon.png" alt=""></div>
  <div class="hexagon-2"><img src="../../../../assets/img/hexagon.png" alt=""></div>
</div>

<section class="counter">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-2">
          <div class="card-body">
            <div class="set-div-box">
              <div class="card-div-box">
                <img src="/assets/img/Mask group.png" alt class="img-fluid" />
              </div>
              <div style="margin-top: 15px; margin-inline-start: 15px">
                <h5>10</h5>
                <p style="margin-top: -6px">Live Jobs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-2">
          <div class="card-body">
            <div class="set-div-box">
              <div class="card-div-box">
                <img src="/assets/img/Companies.png" alt class="img-fluid" />
              </div>
              <div style="margin-top: 15px; margin-inline-start: 15px">
                <h5>50</h5>
                <p style="margin-top: -6px">Companiess</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-2">
          <div class="card-body">
            <div class="set-div-box">
              <div class="card-div-box">
                <img src="/assets/img/Candidates.png" alt class="img-fluid" />
              </div>
              <div style="margin-top: 15px; margin-inline-start: 15px">
                <h5>0</h5>
                <p style="margin-top: -6px">Candidates</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-2">
          <div class="card-body">
            <div class="set-div-box">
              <div class="card-div-box">
                <img src="/assets/img/Mask group.png" alt class="img-fluid" />
              </div>
              <div style="margin-top: 15px; margin-inline-start: 15px">
                <h5>50</h5>
                <p style="margin-top: -6px">Total New Jobs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="Categories">
  <div class="container">
    <div style="display: flex; justify-content: center; margin-bottom: 30px">
      <h4 style="color: #6d9277">Categories</h4>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="Categories-div-bg">
            <div class="Categories-ring">
              <img src="/assets/img/Company-1.png" alt class="img-fluid" />
            </div>
          </div>
          <div class="Categories-text">
            <h4>Company</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="Categories-div-bg">
            <div class="Categories-ring">
              <img src="/assets/img/Company-1.png" alt class="img-fluid" />
            </div>
          </div>
          <div class="Categories-text">
            <h4>Company</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="Categories-div-bg">
            <div class="Categories-ring">
              <img src="/assets/img/Company-1.png" alt class="img-fluid" />
            </div>
          </div>
          <div class="Categories-text">
            <h4>Company</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="Categories-div-bg">
            <div class="Categories-ring">
              <img src="/assets/img/Company-1.png" alt class="img-fluid" />
            </div>
          </div>
          <div class="Categories-text">
            <h4>Company</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="JobFeed">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title text-center">
          <h4 style="color: #374f59">Job Feed</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <a href routerLink="/jobDetails" (click)="scrollToTop()" [ngClass]="{ clicked: isClicked }">
            <div class="card-body">
              <div>
                <button class="btn-jobfeed">Apply Now</button>
              </div>
              <h6 class="job-text-div">Senior Manual Tester(QA)
                Required</h6>

              <div class="jobfeed-card">
                <ul>
                  <li><span>From ₹50,000 a month</span></li>
                  <li><span>Day Shift</span></li>
                  <li><span>Full-time</span></li>
                  <li><span>5 day working</span></li>
                </ul>
              </div>
              <div class="job-text">
                <div class="job-texts">
                  <h3>Receptionist</h3>
                  <div class="job-texts-p">
                    <div>
                      <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                    </div>
                    <div>Jamnager,Ahemdabad...</div>
                  </div>
                </div>
              </div>
              <div class="job-img">
                <img src="../../../../assets/img/Ellipse 355.png" alt="">
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Jobsbasedonyourprofile">
  <div class="module-slider">
    <owl-carousel-o [options]="customOptions3">
      <ng-template carouselSlide>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row jb-title">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="jb-title-text">
                    <h4>Jobs based on your profile</h4>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="seeall">
                    <h6>Seeall</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card my-3">
                <img src="../../../../assets/img/Companies-2.png" class="card-img-top" alt="..."
                  style="height: 191px" />
                <div class="card-body">
                  <h5 class="card-title">Fosroc Chemicals</h5>
                  <p style="color: #676565">Educohire</p>
                  <div style="display: flex; gap: 5px">
                    <div>
                      <img src="/assets/img/star.png" alt class="img-fluid" />
                    </div>
                    <!-- <div>3.5</div> -->
                  </div>
                  <div style="display: flex; gap: 5px; margin-top: 13px">
                    <div>
                      <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                    </div>
                    <div>Jamnager,Ahemdabad...</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card my-3">
                <img src="../../../../assets/img/Companies-3.png" class="card-img-top" alt="..."
                  style="height: 191px" />
                <div class="card-body">
                  <h5 class="card-title">Visa Counsellor</h5>
                  <p style="color: #676565">Educohire</p>
                  <div style="display: flex; gap: 5px">
                    <div>
                      <div>
                        <img src="/assets/img/star.png" alt class="img-fluid" />
                      </div>
                    </div>
                    <div>3.5</div>
                  </div>
                  <!-- <button class="btnForeign">
                                Foreign MNC
                            </button> -->
                  <div style="display: flex; gap: 5px; margin-top: 13px">
                    <div>
                      <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                    </div>
                    <div>Jamnager,Ahemdabad...</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card my-2">
                <img src="../../../../assets/img/Companies-4.jpg" class="card-img-top" alt="..."
                  style="height: 191px" />
                <div class="card-body">
                  <h5 class="card-title">Visa Counsellor</h5>
                  <p style="color: #676565">Educohire</p>
                  <div style="display: flex; gap: 5px">
                    <div>
                      <div>
                        <img src="/assets/img/star.png" alt class="img-fluid" />
                      </div>
                    </div>
                    <div>3.5</div>
                  </div>
                  <!-- <button class="btnForeign">
                                Foreign MNC
                            </button> -->
                  <div style="display: flex; gap: 5px; margin-top: 13px">
                    <div>
                      <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                    </div>
                    <div>Jamnager,Ahemdabad...</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card my-3">
                <img src="../../../../assets/img/Companies-5.png" class="card-img-top" alt="..."
                  style="height: 191px" />
                <div class="card-body">
                  <h5 class="card-title">Visa Counsellor</h5>
                  <p style="color: #676565">Educohire</p>
                  <div style="display: flex; gap: 5px">
                    <div>
                      <div>
                        <img src="/assets/img/star.png" alt class="img-fluid" />
                      </div>
                    </div>
                    <div>3.5</div>
                  </div>
                  <!-- <button class="btnForeign">
                                Foreign MNC
                            </button> -->
                  <div style="display: flex; gap: 5px; margin-top: 13px">
                    <div>
                      <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                    </div>
                    <div>Jamnager,Ahemdabad...</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<section class="PopularStartup">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="PopularStartup-te">
          <h4>Get Hired by Popular Startup</h4>
        </div>
      </div>

      <div class="PopularStartup-box">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="popular-div-second">
                <h2 style="color: #fff">Discover jobs across popular roles.</h2>
                <div class="popular-div-text">
                  <p style="color: #6d9277">
                    Excepteur sint occaecat cupidatat non proident,Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id es Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="popular-main-div">
                <div class="popular-img">
                  <img src="../../../../assets/img/dot-2.png" class="img-fluid" alt />
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="popular-img-first">
                        <img src="../../../../assets/img/im.png" class="img-fluid" alt />
                      </div>
                      <div class="dot-second-div">
                        <img src="../../../../assets/img/dont-1.png" alt />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="popular-img-second">
                        <img src="../../../../assets/img/im (1).png" class="img-fluid" alt />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="padding: 30px">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card my-3">
                <div class="card-body">
                  <h6 class="job-text-div">
                    Senior Manual Tester(QA) Required
                  </h6>
                  <p class="job-text-p">
                    Khushi Ponton Private Limited Surat,Gujrat
                  </p>
                  <div class="jobfeed-card">
                    <ul>
                      <li>From ₹50,000 a month</li>
                      <li>Full-time</li>
                      <li>Day Shift</li>
                      <li>5 day working</li>
                    </ul>
                  </div>
                  <div>
                    <button class="btn-jobfeed">Apply Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card my-3">
                <div class="card-body">
                  <h6 class="job-text-div">
                    Senior Manual Tester(QA) Required
                  </h6>
                  <p class="job-text-p">
                    Khushi Ponton Private Limited Surat,Gujrat
                  </p>
                  <div class="jobfeed-card">
                    <ul>
                      <li>From ₹50,000 a month</li>
                      <li>Full-time</li>
                      <li>Day Shift</li>
                      <li>5 day working</li>
                    </ul>
                  </div>
                  <div>
                    <button class="btn-jobfeed">Apply Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card my-3">
                <div class="card-body">
                  <h6 class="job-text-div">
                    Senior Manual Tester(QA) Required
                  </h6>
                  <p class="job-text-p">
                    Khushi Ponton Private Limited Surat,Gujrat
                  </p>
                  <div class="jobfeed-card">
                    <ul>
                      <li>From ₹50,000 a month</li>
                      <li>Full-time</li>
                      <li>Day Shift</li>
                      <li>5 day working</li>
                    </ul>
                  </div>
                  <div>
                    <button class="btn-jobfeed">Apply Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card my-3">
                <div class="card-body">
                  <h6 class="job-text-div">
                    Senior Manual Tester(QA) Required
                  </h6>
                  <p class="job-text-p">
                    Khushi Ponton Private Limited Surat,Gujrat
                  </p>
                  <div class="jobfeed-card">
                    <ul>
                      <li>From ₹50,000 a month</li>
                      <li>Full-time</li>
                      <li>Day Shift</li>
                      <li>5 day working</li>
                    </ul>
                  </div>
                  <div>
                    <button class="btn-jobfeed">Apply Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card my-3">
                <div class="card-body">
                  <h6 class="job-text-div">
                    Senior Manual Tester(QA) Required
                  </h6>
                  <p class="job-text-p">
                    Khushi Ponton Private Limited Surat,Gujrat
                  </p>
                  <div class="jobfeed-card">
                    <ul>
                      <li>From ₹50,000 a month</li>
                      <li>Full-time</li>
                      <li>Day Shift</li>
                      <li>5 day working</li>
                    </ul>
                  </div>
                  <div>
                    <button class="btn-jobfeed">Apply Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card my-3">
                <div class="card-body">
                  <h6 class="job-text-div">
                    Senior Manual Tester(QA) Required
                  </h6>
                  <p class="job-text-p">
                    Khushi Ponton Private Limited Surat,Gujrat
                  </p>
                  <div class="jobfeed-card">
                    <ul>
                      <li>From ₹50,000 a month</li>
                      <li>Full-time</li>
                      <li>Day Shift</li>
                      <li>5 day working</li>
                    </ul>
                  </div>
                  <div>
                    <button class="btn-jobfeed">Apply Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card my-3">
                <div class="card-body">
                  <h6 class="job-text-div">
                    Senior Manual Tester(QA) Required
                  </h6>
                  <p class="job-text-p">
                    Khushi Ponton Private Limited Surat,Gujrat
                  </p>
                  <div class="jobfeed-card">
                    <ul>
                      <li>From ₹50,000 a month</li>
                      <li>Full-time</li>
                      <li>Day Shift</li>
                      <li>5 day working</li>
                    </ul>
                  </div>
                  <div>
                    <button class="btn-jobfeed">Apply Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card my-3">
                <div class="card-body">
                  <h6 class="job-text-div">
                    Senior Manual Tester(QA) Required
                  </h6>
                  <p class="job-text-p">
                    Khushi Ponton Private Limited Surat,Gujrat
                  </p>
                  <div class="jobfeed-card">
                    <ul>
                      <li>From ₹50,000 a month</li>
                      <li>Full-time</li>
                      <li>Day Shift</li>
                      <li>5 day working</li>
                    </ul>
                  </div>
                  <div>
                    <button class="btn-jobfeed">Apply Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="TopCompanies">
  <div class="container">
    <div style="display: flex; justify-content: center; margin-bottom: 30px">
      <h4 style="color: #455a64">Top Companies</h4>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card my-3">
            <img src="../../../../assets/img/Companies-2.png" class="card-img-top" alt="..." style="height: 191px" />
            <div class="card-body">
              <h5 class="card-title">Fosroc Chemicals</h5>

              <div style="display: flex; gap: 5px">
                <div>
                  <img src="/assets/img/star.png" alt class="img-fluid" />
                </div>
                <div>3.5</div>
              </div>
              <button class="btnForeign">Foreign MNC</button>
              <div class="viewjob-div">View jobs</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card my-3">
            <img src="../../../../assets/img/Companies-3.png" class="card-img-top" alt="..." style="height: 191px" />
            <div class="card-body">
              <h5 class="card-title">Visa Counsellor</h5>

              <div style="display: flex; gap: 5px">
                <div>
                  <div>
                    <img src="/assets/img/star.png" alt class="img-fluid" />
                  </div>
                </div>
                <div>3.5</div>
              </div>

              <button class="btnForeign">Corporate</button>
              <div class="viewjob-div">View jobs</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card my-3">
            <img src="../../../../assets/img/Companies-4.jpg" class="card-img-top" alt="..." style="height: 191px" />
            <div class="card-body">
              <h5 class="card-title">Visa Counsellor</h5>

              <div style="display: flex; gap: 5px">
                <div>
                  <div>
                    <img src="/assets/img/star.png" alt class="img-fluid" />
                  </div>
                </div>
                <div>3.5</div>
              </div>

              <button class="btnForeign">Indian MNC</button>
              <div class="viewjob-div">View jobs</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card my-3">
            <img src="../../../../assets/img/Companies-5.png" class="card-img-top" alt="..." style="height: 191px" />
            <div class="card-body">
              <h5 class="card-title">Visa Counsellor</h5>

              <div style="display: flex; gap: 5px">
                <div>
                  <div>
                    <img src="/assets/img/star.png" alt class="img-fluid" />
                  </div>
                </div>
                <div>3.5</div>
              </div>

              <button class="btnForeign">Foreign MNC</button>
              <div class="viewjob-div">View jobs</div>
            </div>
          </div>
        </div>
      </div>

      <div class="view-all-com-div">
        <button>View all Companies</button>
      </div>
    </div>
  </div>
</section>

<section class="PeopleThinks">
  <div class="container">
    <div class="what-is-div">
      <h4 style="color: #455a64">What The People Thinks About us</h4>
    </div>
  </div>

  <div>
    <owl-carousel-o [options]="customOptions3">
      <ng-template carouselSlide>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="img-set-card">
                <img src="../../../../assets/img/profilepic-1.png" class="img-fluid img-tag-div" alt="..." />
              </div>
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur Excepteur sint
                    occaecat cupidatat Ut enim ad minim veniam, quis
                  </p>
                  <div class="card-line"></div>
                  <div style="
                      display: flex;
                      justify-content: space-between;
                      margin-top: 15px;
                    ">
                    <div>
                      <h5>Cristal crizzal</h5>
                      <p>Surat</p>
                    </div>
                    <div class="icon-div">
                      <ul>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="img-set-card">
                <img src="../../../../assets/img/profilepic-2.png" class="img-fluid img-tag-div" alt="..." />
              </div>
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur Excepteur sint
                    occaecat cupidatat Ut enim ad minim veniam, quis
                  </p>
                  <div class="card-line"></div>
                  <div style="
                      display: flex;
                      justify-content: space-between;
                      margin-top: 15px;
                    ">
                    <div>
                      <h5>Tony Marsh</h5>
                      <p>Surat</p>
                    </div>
                    <div class="icon-div">
                      <ul>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="img-set-card">
                <img src="../../../../assets/img/profilepic-3.png" class="img-fluid img-tag-div" alt="..." />
              </div>
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur Excepteur sint
                    occaecat cupidatat Ut enim ad minim veniam, quis
                  </p>
                  <div class="card-line"></div>
                  <div style="
                      display: flex;
                      justify-content: space-between;
                      margin-top: 15px;
                    ">
                    <div>
                      <h5>Jenny Williamson</h5>
                      <p>Surat</p>
                    </div>
                    <div class="icon-div">
                      <ul>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                          <i class="bi bi-star-fill"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>


<app-footer></app-footer>