<app-navbar></app-navbar>

<!-- main start -->
<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6 cols-sm-12">
        <div class="main-title">
          <h1>Looking For A Better opportunity?</h1>
          <h1>join Us And Make Things Happen</h1>
        </div>
        <div class="main-desc my-3">
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. officia deserunt mollit anim id es Lorem ipsum dolor sit
            amet, consectetur adipiscing elit.
          </p>
        </div>
        <div class="main-btn">
          <button class="btn px-5">Explore Now</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="main-img">
          <img src="../../../../assets/img/sitted-man.png" alt="" class="img-fluid">
        </div>

      </div>

      <div class="fancy-img">
        <img src="../../../../assets/img/hexagon.png" alt="" class="img-fluid">
      </div>
      <div class="fancy1-img">
        <img src="../../../../assets/img/hexagon.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- main End -->

<!-- counter start -->
<section class="counter">
  <div class="container">
    <div class="row">
      <ng-container *ngIf="counter">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card p-3 border-0">
          <div class="counter-img d-flex flex-wrap align-items-center">
            <div class="job-img">
              <img src="../../../../assets/img/Mask group.png" alt="">
            </div>
            <div class="job-number ps-3">
              <h5>{{counter.jobcount}}</h5>
              <h5>Jobs</h5>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="counter">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card p-3 border-0">
          <div class="counter-img d-flex flex-wrap align-items-center">
            <div class="job-img">
              <img src="../../../../assets/img/Mask group.png" alt="">
            </div>
            <div class="job-number ps-3">
              <h5>{{counter.companycount}}</h5>
              <h5>Companies</h5>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
     
    <ng-container *ngIf="counter">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card p-3 border-0">
          <div class="counter-img d-flex flex-wrap align-items-center">
            <div class="job-img">
              <img src="../../../../assets/img/Mask group.png" alt="">
            </div>
            <div class="job-number ps-3">
              <h5>{{counter.usercount}}</h5>
              <h5>Users</h5>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
     
    <ng-container *ngIf="counter">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card p-3 border-0">
          <div class="counter-img d-flex flex-wrap align-items-center">
            <div class="job-img">
              <img src="../../../../assets/img/Mask group.png" alt="">
            </div>
            <div class="job-number ps-3">
              <h5>{{counter.livejobcount}}</h5>
              <h5>Live Jobs</h5>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
     
     
  
    </div>
  </div>
</section>
<!-- counter End -->


<!-- job fedd start -->
<section class="job">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title text-center my-5">
          <h2>Job Fedd</h2>
        </div>
      </div>
      <ng-container *ngFor="let d of jobs;let i = index">
        <ng-container *ngIf="i==0">
      <div class="col-lg-3 col-md-6 cool-sm-12">
        <div class="card my-3">
          <div class="apply-btn ps-3 py-3">
            <button class="btn px-5"><a class="text-white"  (click)="navigateToJobDetails(d.jobPostID)">Apply Now</a></button>
          </div>
          <div class="job-name ps-3">
            <h6>{{d.jobPostTitle}}</h6>
          </div>
          <div class="job-cont ps-3">
            <ul>
              <li>₹{{d.jobSalaryStart}} - ₹{{d.jobSalaryEnd}}/Month </li>
              <li>{{ mapstatustotext(d.workingType) }} </li>
              <li>{{MapStatusText (d.shiftType) }} </li>
              <li>{{d.daysOfWork}} Day Working </li>
            </ul>
          </div>
          <div class="job-location">
            <div class="card border-0">
              <div class="name-loc mt-2">
                <h5>{{d.companyName}}</h5>
              </div>
              <div class="location-icon">
                <h6><i class="bi bi-geo-alt"></i>{{isAddressShown(d.jobPostID) ? d.companyAddress : (d.companyAddress | slice:0:23)}}</h6>
                <button class="btn" (click)="toggleAddress(d.jobPostID)">
                  <i class="bi bi-three-dots"></i>
                </button>
              </div>
            </div>
            <div class="jobs-img">
              <img src="{{imgurl + d.companyLogo}}" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      </ng-container>


      <ng-container *ngIf="i==1">
        <div class="col-lg-3 col-md-6 cool-sm-12">
          <div class="card my-3">
            <div class="apply-btn ps-3 py-3">
              <button class="btn px-5"><a class="text-white" (click)="navigateToJobDetails(d.jobPostID)">Apply Now</a></button>
            </div>
            <div class="job-name ps-3">
              <h6>{{d.jobPostTitle}}</h6>
            </div>
            <div class="job-cont ps-3">
              <ul>
                <li>₹{{d.jobSalaryStart}} - ₹{{d.jobSalaryEnd}}/Month </li>
                <li>{{ mapstatustotext(d.workingType) }} </li>
                <li>{{MapStatusText (d.shiftType) }} </li>
                <li>{{d.daysOfWork}} Day Working </li>
              </ul>
            </div>
            <div class="job-location">
              <div class="card border-0">
                <div class="name-loc mt-2">
                  <h5>{{d.companyName}}</h5>
                </div>
                <div class="location-icon">
                  <h6><i class="bi bi-geo-alt"></i>{{isAddressShown(d.jobPostID) ? d.companyAddress : (d.companyAddress | slice:0:23)}}</h6>
                  <button class="btn" (click)="toggleAddress(d.jobPostID)">
                    <i class="bi bi-three-dots"></i>
                  </button>
                </div>
              </div>
              <div class="jobs-img">
                <img src="{{imgurl + d.companyLogo}}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        </ng-container>


        <ng-container *ngIf="i==2">
          <div class="col-lg-3 col-md-6 cool-sm-12">
            <div class="card my-3">
              <div class="apply-btn ps-3 py-3">
                <button class="btn px-5"><a class="text-white" (click)="navigateToJobDetails(d.jobPostID)">Apply Now</a></button>
              </div>
              <div class="job-name ps-3">
                <h6>{{d.jobPostTitle}}</h6>
              </div>
              <div class="job-cont ps-3">
                <ul>
                  <li>₹{{d.jobSalaryStart}} - ₹{{d.jobSalaryEnd}}/Month </li>
                  <li>{{ mapstatustotext(d.workingType) }} </li>
                  <li>{{MapStatusText (d.shiftType) }} </li>
                  <li>{{d.daysOfWork}} Day Working </li>
                </ul>
              </div>
              <div class="job-location">
                <div class="card border-0">
                  <div class="name-loc mt-2">
                    <h5>{{d.companyName}}</h5>
                  </div>
                  <div class="location-icon">
                    <h6><i class="bi bi-geo-alt"></i>{{isAddressShown(d.jobPostID) ? d.companyAddress : (d.companyAddress | slice:0:23)}}</h6>
                    <button class="btn" (click)="toggleAddress(d.jobPostID)">
                      <i class="bi bi-three-dots"></i>
                    </button>
                  </div>
                </div>
                <div class="jobs-img">
                  <img src="{{imgurl + d.companyLogo}}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          </ng-container>


          <ng-container *ngIf="i==3">
            <div class="col-lg-3 col-md-6 cool-sm-12">
              <div class="card my-3">
                <div class="apply-btn ps-3 py-3">
                  <button class="btn px-5"><a class="text-white" (click)="navigateToJobDetails(d.jobPostID)">Apply Now</a></button>
                </div>
                <div class="job-name ps-3">
                  <h6>{{d.jobPostTitle}}</h6>
                </div>
                <div class="job-cont ps-3">
                  <ul>
                    <li>₹{{d.jobSalaryStart}} - ₹{{d.jobSalaryEnd}}/Month </li>
                    <li>{{ mapstatustotext(d.workingType) }} </li>
                    <li>{{MapStatusText (d.shiftType) }} </li>
                    <li>{{d.daysOfWork}} Day Working </li>
                  </ul>
                </div>
                <div class="job-location">
                  <div class="card border-0">
                    <div class="name-loc mt-2">
                      <h5>{{d.companyName}}</h5>
                    </div>
                    <div class="location-icon">
                      <h6><i class="bi bi-geo-alt"></i>{{isAddressShown(d.jobPostID) ? d.companyAddress : (d.companyAddress | slice:0:23)}}</h6>
                      <button class="btn" (click)="toggleAddress(d.jobPostID)">
                        <i class="bi bi-three-dots"></i>
                      </button>
                    </div>
                  </div>
                  <div class="jobs-img">
                    <img src="{{imgurl + d.companyLogo}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
            </ng-container>
    </ng-container>
    </div>
  </div>
</section>
<!-- job fedd end -->

<!-- Jobs based on your profile start -->
<!-- <section class="profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="titles d-flex flex-wrap align-items-center justify-content-between">
          <div class="title">
            <h2>Jobs based on your profile</h2>
          </div>
          <div class="sell-all">
            <button class="btn">Seeall</button>
          </div>
        </div>
      </div>

      <section class="Jobsbasedonyourprofile">
        <div class="module-slider">
          <owl-carousel-o [options]="customOptions3">
            <ng-template carouselSlide>
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card px-3 py-4 border-0 my-3">
                      <div class="profile-img mb-3">
                        <img src="../../../../assets/img/tc-1.jpeg" alt="">
                      </div>
                      <div class="profile-name">
                        <h5>Back Office Executive</h5>
                      </div>
                      <div class="profile-loc">
                        <h6>Educohire</h6>
                      </div>
                      <div class="profile-star">
                        <h6><i class="bi bi-star-fill"></i>3.5</h6>
                      </div>
                      <div class="pro-location">
                        <h6 class="pe-2"><i class="bi bi-geo-alt"></i>Jamnager,Ahemdabad...</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card px-3 py-4 border-0 my-3">
                      <div class="profile-img mb-3">
                        <img src="../../../../assets/img/tc-1.jpeg" alt="">
                      </div>
                      <div class="profile-name">
                        <h5>Back Office Executive</h5>
                      </div>
                      <div class="profile-loc">
                        <h6>Educohire</h6>
                      </div>
                      <div class="profile-star">
                        <h6><i class="bi bi-star-fill"></i>3.5</h6>
                      </div>
                      <div class="pro-location">
                        <h6 class="pe-2"><i class="bi bi-geo-alt"></i>Jamnager,Ahemdabad...</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card px-3 py-4 border-0 my-3">
                      <div class="profile-img mb-3">
                        <img src="../../../../assets/img/tc-1.jpeg" alt="">
                      </div>
                      <div class="profile-name">
                        <h5>Back Office Executive</h5>
                      </div>
                      <div class="profile-loc">
                        <h6>Educohire</h6>
                      </div>
                      <div class="profile-star">
                        <h6><i class="bi bi-star-fill"></i>3.5</h6>
                      </div>
                      <div class="pro-location">
                        <h6 class="pe-2"><i class="bi bi-geo-alt"></i>Jamnager,Ahemdabad...</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card px-3 py-4 border-0 my-3">
                      <div class="profile-img mb-3">
                        <img src="../../../../assets/img/tc-1.jpeg" alt="">
                      </div>
                      <div class="profile-name">
                        <h5>Back Office Executive</h5>
                      </div>
                      <div class="profile-loc">
                        <h6>Educohire</h6>
                      </div>
                      <div class="profile-star">
                        <h6><i class="bi bi-star-fill"></i>3.5</h6>
                      </div>
                      <div class="pro-location">
                        <h6 class="pe-2"><i class="bi bi-geo-alt"></i>Jamnager,Ahemdabad...</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </section>
    </div>
  </div>
</section> -->
<!-- Jobs based on your profile End -->

<!-- Get Hired by Popular Startup start -->
<section class="Popular">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title text-center mb-3">
          <h2>Get Hired by Popular Startup</h2>
        </div>
      </div>
    </div>
    <div class="popular-bg">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
          <div class="popular-img">
            <img src="../../../../assets/img/psu-1.png" alt="" class="img-fluid">
          </div>
          <div class="popular-beg">
            <img src="../../../../assets/img/psu-3.png" alt="" class="img-fluid">
          </div>
          <div class="poular-search">
            <img src="../../../../assets/img/psu-2.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <div class="popular-title">
            <h4>So Many People are <br>
              engaged all over the world
            </h4>
          </div>
          <div class="popular-desc">
            <p>Excepteur sint occaecat cupidatat non proident,Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id es Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Lorem
              ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let d of jobs;let i = index">
        <ng-container *ngIf="i==4">
      <div class="col-lg-3 col-md-6 cool-sm-12">
        <div class="card my-3">
          <div class="apply-btn ps-3 py-3">
            <button class="btn px-5"><a class="text-white" (click)="navigateToJobDetails(d.jobPostID)">Apply Now</a></button>
          </div>
          <div class="job-name ps-3">
            <h6>{{d.jobPostTitle}}</h6>
          </div>
          <div class="job-cont ps-3">
            <ul>
              <li>₹{{d.jobSalaryStart}} - ₹{{d.jobSalaryEnd}}/Month </li>
              <li>{{ mapstatustotext(d.workingType) }} </li>
              <li>{{MapStatusText (d.shiftType) }} </li>
              <li>{{d.daysOfWork}} Day Working </li>
            </ul>
          </div>
          <div class="job-location">
            <div class="card border-0">
              <div class="name-loc mt-2">
                <h5>{{d.companyName}}</h5>
              </div>
              <div class="location-icon">
                <h6><i class="bi bi-geo-alt"></i>{{isAddressShown(d.jobPostID) ? d.companyAddress : (d.companyAddress | slice:0:23)}}</h6>
                <button class="btn" (click)="toggleAddress(d.jobPostID)">
                  <i class="bi bi-three-dots"></i>
                </button>
              </div>
            </div>
            <div class="jobs-img">
              <img src="{{imgurl + d.companyLogo}}" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      </ng-container>


      <ng-container *ngIf="i==5">
        <div class="col-lg-3 col-md-6 cool-sm-12">
          <div class="card my-3">
            <div class="apply-btn ps-3 py-3">
              <button class="btn px-5"><a class="text-white" (click)="navigateToJobDetails(d.jobPostID)">Apply Now</a></button>
            </div>
            <div class="job-name ps-3">
              <h6>{{d.jobPostTitle}}</h6>
            </div>
            <div class="job-cont ps-3">
              <ul>
                <li>₹{{d.jobSalaryStart}} - ₹{{d.jobSalaryEnd}}/Month </li>
                <li>{{ mapstatustotext(d.workingType) }} </li>
                <li>{{MapStatusText (d.shiftType) }}</li>
                <li>{{d.daysOfWork}} Day Working </li>
              </ul>
            </div>
            <div class="job-location">
              <div class="card border-0">
                <div class="name-loc mt-2">
                  <h5>{{d.companyName}}</h5>
                </div>
                <div class="location-icon">
                  <h6><i class="bi bi-geo-alt"></i>{{isAddressShown(d.jobPostID) ? d.companyAddress : (d.companyAddress | slice:0:23)}}</h6>
                  <button class="btn" (click)="toggleAddress(d.jobPostID)">
                    <i class="bi bi-three-dots"></i>
                  </button>
                </div>
              </div>
              <div class="jobs-img">
                <img src="{{imgurl + d.companyLogo}}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        </ng-container>


        <ng-container *ngIf="i==6">
          <div class="col-lg-3 col-md-6 cool-sm-12">
            <div class="card my-3">
              <div class="apply-btn ps-3 py-3">
                <button class="btn px-5"><a class="text-white" (click)="navigateToJobDetails(d.jobPostID)">Apply Now</a></button>
              </div>
              <div class="job-name ps-3">
                <h6>{{d.jobPostTitle}}</h6>
              </div>
              <div class="job-cont ps-3">
                <ul>
                  <li>₹{{d.jobSalaryStart}} - ₹{{d.jobSalaryEnd}}/Month </li>
                  <li>{{ mapstatustotext(d.workingType) }} </li>
                  <li>{{MapStatusText (d.shiftType) }} </li>
                  <li>{{d.daysOfWork}} Day Working </li>
                </ul>
              </div>
              <div class="job-location">
                <div class="card border-0">
                  <div class="name-loc mt-2">
                    <h5>{{d.companyName}}</h5>
                  </div>
                  <div class="location-icon">
                    <h6><i class="bi bi-geo-alt"></i>{{isAddressShown(d.jobPostID) ? d.companyAddress : (d.companyAddress | slice:0:23)}}</h6>
                    <button class="btn" (click)="toggleAddress(d.jobPostID)">
                      <i class="bi bi-three-dots"></i>
                    </button>
                  </div>
                </div>
                <div class="jobs-img">
                  <img src="{{imgurl + d.companyLogo}}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          </ng-container>


          <ng-container *ngIf="i==7">
            <div class="col-lg-3 col-md-6 cool-sm-12">
              <div class="card my-3">
                <div class="apply-btn ps-3 py-3">
                  <button class="btn px-5"><a class="text-white" (click)="navigateToJobDetails(d.jobPostID)">Apply Now</a></button>
                </div>
                <div class="job-name ps-3">
                  <h6>{{d.jobPostTitle}}</h6>
                </div>
                <div class="job-cont ps-3">
                  <ul>
                    <li>₹{{d.jobSalaryStart}} - ₹{{d.jobSalaryEnd}}/Month </li>
                    <li>{{ mapstatustotext(d.workingType) }} </li>
                    <li>{{MapStatusText (d.shiftType) }}</li>
                    <li>{{d.daysOfWork}} Day Working </li>
                  </ul>
                </div>
                <div class="job-location">
                  <div class="card border-0">
                    <div class="name-loc mt-2">
                      <h5>{{d.companyName}}</h5>
                    </div>
                    <div class="location-icon">
                      <h6><i class="bi bi-geo-alt"></i>{{isAddressShown(d.jobPostID) ? d.companyAddress : (d.companyAddress | slice:0:23)}}</h6>
                      <button class="btn" (click)="toggleAddress(d.jobPostID)">
                        <i class="bi bi-three-dots"></i>
                      </button>
                    </div>
                  </div>
                  <div class="jobs-img">
                    <img src="{{imgurl + d.companyLogo}}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
            </ng-container>
    </ng-container>
    </div>
  </div>
</section>
<!-- Get Hired by Popular Startup end -->

<!-- top company start -->
<section class="top-comp">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title text-center">
          <h2>Top Companies</h2>
        </div>
      </div>
      <ng-container *ngFor="let d of company">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card topsss text-center">
          <div class="companys-logo">
            <img src="{{imgurl + d.companyLogo}}" alt="" class="img-fluid">
          </div>
          <div class="tops-comp">
            <h5>{{d.companyName}}</h5>
          </div>
          <div class="top-comp-star">
            <h5>{{d.companyAddress}}</h5>
          </div>
          <div class="top-comp-star">
            <h6>{{d.companyDescription}}</h6>
          </div>
          <div class="view-btn">
            <button class="btn">View jobs</button>
          </div>
        </div>
      </div>
    </ng-container>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="view-all text-center">
          <button class="btn px-5">View All Companies</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- top company end -->


<!-- testimonial start -->
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title text-center">
          <h2>What  The People Thinks About us </h2>
        </div>
      </div>


      <section class="Jobsbasedonyourprofile">
        <div class="module-slider">
          <owl-carousel-o [options]="customOptions3">
            <ng-template carouselSlide>
              <div class="container">
                <div class="row">

                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card my-3 py-3">
                      <div class="review-img text-center">
                        <img src="../../../../assets/img/profilepic-1.png" class="w-25 mx-auto" alt="...">
                      </div>
                      <div class="card-body text-center">
                        <div class="star">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="review-name">
                          <h5 class="card-title">Cristina crizzal</h5>
                        </div>
                        <div class="review-des">
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, impedit doloremque! Illum
                            repellat ea quis fugit laboriosam eum et repudiandae excepturi ipsam temporibus facere ut
                            iste earum placeat.</p>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card my-3 py-3">
                      <div class="review-img text-center">
                        <img src="../../../../assets/img/profilepic-2.png" class="w-25 mx-auto" alt="...">
                      </div>
                      <div class="card-body text-center">
                        <div class="star">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="review-name">
                          <h5 class="card-title">Cristina crizzal</h5>
                        </div>
                        <div class="review-des">
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, impedit doloremque! Illum
                            repellat ea quis fugit laboriosam eum et repudiandae excepturi ipsam temporibus facere ut
                            iste earum placeat.</p>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card my-3 py-3">
                      <div class="review-img text-center">
                        <img src="../../../../assets/img/profilepic-3.png" class="w-25 mx-auto" alt="...">
                      </div>
                      <div class="card-body text-center">
                        <div class="star">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="review-name">
                          <h5 class="card-title">Cristina crizzal</h5>
                        </div>
                        <div class="review-des">
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, impedit doloremque! Illum
                            repellat ea quis fugit laboriosam eum et repudiandae excepturi ipsam temporibus facere ut
                            iste earum placeat.</p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </section>
    </div>
  </div>
</section>
<!-- testimonial End -->

<app-footer></app-footer>