<app-navbar></app-navbar>
<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="main-body">
          <h2 class="text-h3-class">
            <b>Looking For A Better Opportunity?<br>
              Join Us And Make Things Happen</b>
          </h2>
          <p class="second-text-p">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id es Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. officia deserunt mollit anim id es
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="ExploreNow-btn">
            <button type="button" class="btn">Explore Now</button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="main-img">
          <img src="/assets/img/sitted-man.png" alt class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
<div class="hexagon">
  <div class="hexagon-1"><img src="../../../../assets/img/hexagon.png" alt=""></div>
  <div class="hexagon-2"><img src="../../../../assets/img/hexagon.png" alt=""></div>
</div>

<section class="counter">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-2">
          <div class="card-body">
            <div class="set-div-box">
              <div class="card-div-box">
                <img src="/assets/img/Mask group.png" alt class="img-fluid" />
              </div>
              <div class="cc-detail">
                <h5>10</h5>
                <p>Live Jobs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-2">
          <div class="card-body">
            <div class="set-div-box">
              <div class="card-div-box">
                <img src="/assets/img/Companies.png" alt class="img-fluid" />
              </div>
              <div class="cc-detail">
                <h5>50</h5>
                <p>Companiess</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-2">
          <div class="card-body">
            <div class="set-div-box">
              <div class="card-div-box">
                <img src="/assets/img/Candidates.png" alt class="img-fluid" />
              </div>
              <div class="cc-detail">
                <h5>0</h5>
                <p>Candidates</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-2">
          <div class="card-body">
            <div class="set-div-box">
              <div class="card-div-box">
                <img src="/assets/img/Mask group.png" alt class="img-fluid" />
              </div>
              <div class="cc-detail">
                <h5>50</h5>
                <p>Total New Jobs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="JobFeed">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title text-center">
          <h4 style="color: #374f59">Job Feed</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <a href routerLink="/jobDetails" (click)="scrollToTop()" [ngClass]="{ clicked: isClicked }">
            <div class="card-body">
              <div>
                <button class="btn-jobfeed">Apply Now</button>
              </div>
              <h6 class="job-text-div">Senior Manual Tester(QA)
                Required</h6>

              <div class="jobfeed-card">
                <ul>
                  <li><span>From ₹50,000 a month</span></li>
                  <li><span>Day Shift</span></li>
                  <li><span>Full-time</span></li>
                  <li><span>5 day working</span></li>
                </ul>
              </div>
              <div class="job-text">
                <div class="job-texts">
                  <h3>Receptionist</h3>
                  <div class="job-texts-p">
                    <div>
                      <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                    </div>
                    <div>Jamnager,Ahemdabad...</div>
                  </div>
                </div>
              </div>
              <div class="job-img">
                <img src="../../../../assets/img/Ellipse 355.png" alt="">
              </div>
            </div>
          </a>
        </div>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Jobsbasedonyourprofile">
  <div class="module-slider">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row jb-title">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="jb-title-text">
                <h4>Jobs based on your profile</h4>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="seeall">
                <h6>Seeall</h6>
              </div>
            </div>
          </div>
        </div>
        <owl-carousel-o [options]="customOptions3">
          <ng-template carouselSlide>
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card ">
                  <div class="card-body">
                    <div class="jb-card-img">
                      <img src="../../../../assets/img/job-1.png" alt="..." />
                    </div>
                    <div class="jb-body-text">
                      <h5>Fosroc Chemicals</h5>
                      <p>Educohire</p>

                      <div class="jb-rating">
                        <div class="jb-rating-img">
                          <img src="/assets/img/star.png" alt class="img-fluid" />
                        </div>
                        <p>3.5</p>
                      </div>

                      <div class="jb-loc">
                        <div class="jb-loc-img">
                          <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                        </div>
                        <p>Jamnager,Ahemdabad...</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card ">
                  <div class="card-body">
                    <div class="jb-card-img">
                      <img src="../../../../assets/img/job-2.png" alt="..." />
                    </div>
                    <div class="jb-body-text">
                      <h5 class="card-title">Fosroc Chemicals</h5>
                      <p style="color: #676565">Educohire</p>

                      <div class="jb-rating">
                        <div class="jb-rating-img">
                          <img src="/assets/img/star.png" alt class="img-fluid" />
                        </div>
                        <p>3.5</p>
                      </div>

                      <div class="jb-loc">
                        <div class="jb-loc-img">
                          <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                        </div>
                        <p>Jamnager,Ahemdabad...</p>
                      </div>
                    </div>


                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card ">
                  <div class="card-body">
                    <div class="jb-card-img">
                      <img src="../../../../assets/img/job-3.png" alt="..." />
                    </div>
                    <div class="jb-body-text">
                      <h5 class="card-title">Fosroc Chemicals</h5>
                      <p style="color: #676565">Educohire</p>

                      <div class="jb-rating">
                        <div class="jb-rating-img">
                          <img src="/assets/img/star.png" alt class="img-fluid" />
                        </div>
                        <p>3.5</p>
                      </div>

                      <div class="jb-loc">
                        <div class="jb-loc-img">
                          <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                        </div>
                        <p>Jamnager,Ahemdabad...</p>
                      </div>
                    </div>


                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card ">
                  <div class="card-body">
                    <div class="jb-card-img">
                      <img src="../../../../assets/img/job-4.png" alt="..." />
                    </div>
                    <div class="jb-body-text">
                      <h5 class="card-title">Fosroc Chemicals</h5>
                      <p style="color: #676565">Educohire</p>

                      <div class="jb-rating">
                        <div class="jb-rating-img">
                          <img src="/assets/img/star.png" alt class="img-fluid" />
                        </div>
                        <p>3.5</p>
                      </div>

                      <div class="jb-loc">
                        <div class="jb-loc-img">
                          <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                        </div>
                        <p>Jamnager,Ahemdabad...</p>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<section class="PopularStartup">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="PopularStartup-title">
          <h4>Get Hired by Popular Startup</h4>
        </div>
      </div>
    </div>
    <div class="PopularStartup-box">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
          <div class="psu-img">
            <img src="../../../../assets/img/psu-1.png" class="psu-img-main" alt="">
            <div class="psu-img-2">
              <img src="../../../../assets/img/psu-2.png" alt="">
            </div>
            <div class="psu-img-3">
              <img src="../../../../assets/img/psu-3.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="popular-div-second">
            <h2>So Many People are
              engaged all over the world</h2>
            <p>
              Excepteur sint occaecat cupidatat non proident,Excepteur
              sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id es Lorem ipsum dolor sit
              amet, consectetur adipiscing elit. Lorem ipsum dolor sit
              amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div style="padding: 30px">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <a href routerLink="/jobDetails" (click)="scrollToTop()" [ngClass]="{ clicked: isClicked }">
            <div class="card-body">
              <div>
                <button class="btn-jobfeed">Apply Now</button>
              </div>
              <h6 class="job-text-div">Senior Manual Tester(QA)
                Required</h6>

              <div class="jobfeed-card">
                <ul>
                  <li><span>From ₹50,000 a month</span></li>
                  <li><span>Day Shift</span></li>
                  <li><span>Full-time</span></li>
                  <li><span>5 day working</span></li>
                </ul>
              </div>
              <div class="job-text">
                <div class="job-texts">
                  <h3>Receptionist</h3>
                  <div class="job-texts-p">
                    <div>
                      <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                    </div>
                    <div>Jamnager,Ahemdabad...</div>
                  </div>
                </div>
              </div>
              <div class="job-img">
                <img src="../../../../assets/img/Ellipse 355.png" alt="">
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card my-3">
          <div class="card-body">
            <div>
              <button class="btn-jobfeed">Apply Now</button>
            </div>
            <h6 class="job-text-div">Senior Manual Tester(QA)
              Required</h6>

            <div class="jobfeed-card">
              <ul>
                <li><span>From ₹50,000 a month</span></li>
                <li><span>Day Shift</span></li>
                <li><span>Full-time</span></li>
                <li><span>5 day working</span></li>
              </ul>
            </div>
            <div class="job-text">
              <div class="job-texts">
                <h3>Receptionist</h3>
                <div class="job-texts-p">
                  <div>
                    <img src="../../../../assets/img/location.png" class="img-fluid" alt />
                  </div>
                  <div>Jamnager,Ahemdabad...</div>
                </div>
              </div>
            </div>
            <div class="job-img">
              <img src="../../../../assets/img/Ellipse 355.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="TopCompanies">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="TopCompanies-title">
          <h4>Top Companies</h4>
        </div>
      </div>
    </div>
    <div class="tc-card">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card my-3">
            <div class="tc-main-img">
              <img src="../../../../assets/img/tc-1.jpeg" alt="..." />
            </div>
            <div class="card-body">
              <div class="tc-detail">
                <h5 class="tc-title">Fosroc Chemicals</h5>

                <div class="tc-rating">
                  <img src="/assets/img/star.png" alt class="img-fluid" />
                  <p class="m-0">3.5</p>
                </div>

                <div class="tc-btn">
                  <div class="tc-btn-1">
                    <button>Foreign MNC</button>
                  </div>
                  <div class="tc-btn-2">View jobs</div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card my-3">
            <div class="tc-main-img">
              <img src="../../../../assets/img/tc-1.jpeg" alt="..." />
            </div>
            <div class="card-body">
              <div class="tc-detail">
                <h5 class="tc-title">Fosroc Chemicals</h5>

                <div class="tc-rating">
                  <img src="/assets/img/star.png" alt class="img-fluid" />
                  <p class="m-0">3.5</p>
                </div>

                <div class="tc-btn">
                  <div class="tc-btn-1">
                    <button>Foreign MNC</button>
                  </div>
                  <div class="tc-btn-2">View jobs</div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card my-3">
            <div class="tc-main-img">
              <img src="../../../../assets/img/tc-1.jpeg" alt="..." />
            </div>
            <div class="card-body">
              <div class="tc-detail">
                <h5 class="tc-title">Fosroc Chemicals</h5>

                <div class="tc-rating">
                  <img src="/assets/img/star.png" alt class="img-fluid" />
                  <p class="m-0">3.5</p>
                </div>

                <div class="tc-btn">
                  <div class="tc-btn-1">
                    <button>Foreign MNC</button>
                  </div>
                  <div class="tc-btn-2">View jobs</div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card my-3">
            <div class="tc-main-img">
              <img src="../../../../assets/img/tc-1.jpeg" alt="..." />
            </div>
            <div class="card-body">
              <div class="tc-detail">
                <h5 class="tc-title">Fosroc Chemicals</h5>

                <div class="tc-rating">
                  <img src="/assets/img/star.png" alt class="img-fluid" />
                  <p class="m-0">3.5</p>
                </div>

                <div class="tc-btn">
                  <div class="tc-btn-1">
                    <button>Foreign MNC</button>
                  </div>
                  <div class="tc-btn-2">View jobs</div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tc-btn-view-all">
      <button>View all Companies</button>
    </div>
  </div>
</section>

<section class="PeopleThinks">
  <div class="container">
    <div class="what-is-div">
      <h4 style="color: #455a64">What The People Thinks About us</h4>
    </div>
  </div>

  <owl-carousel-o [options]="customOptions3">
    <ng-template carouselSlide>
      <div class="pt-card">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="img-set-card">
              <img src="../../../../assets/img/profilepic-1.png" class="img-fluid img-tag-div" alt="..." />
            </div>
            <div class="card">
              <div class="card-body">
                <div class="pt-text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur Excepteur sint
                    occaecat cupidatat Ut enim ad minim veniam, quis
                  </p>
                </div>
  
                <div class="card-line"></div>
                <div class="pt-prs-detl">
                  <div  class="pt-name-loc">
                    <h5>Cristal crizzal</h5>
                    <p>Surat</p>
                  </div>
                  <div class="icon-div">
                    <ul>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="img-set-card">
            <img src="../../../../assets/img/profilepic-2.png" class="img-fluid img-tag-div" alt="..." />
          </div>
          <div class="card">
            <div class="card-body">
              <div class="pt-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur Excepteur sint
                  occaecat cupidatat Ut enim ad minim veniam, quis
                </p>
              </div>

              <div class="card-line"></div>
              <div class="pt-prs-detl">
                <div  class="pt-name-loc">
                  <h5>Cristal crizzal</h5>
                  <p>Surat</p>
                </div>
                <div class="icon-div">
                  <ul>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="img-set-card">
            <img src="../../../../assets/img/profilepic-3.png" class="img-fluid img-tag-div" alt="..." />
          </div>
          <div class="card">
            <div class="card-body">
              <div class="pt-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur Excepteur sint
                  occaecat cupidatat Ut enim ad minim veniam, quis
                </p>
              </div>

              <div class="card-line"></div>
              <div class="pt-prs-detl">
                <div  class="pt-name-loc">
                  <h5>Cristal crizzal</h5>
                  <p>Surat</p>
                </div>
                <div class="icon-div">
                  <ul>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                  </ul>
                </div>
              </div>
             
            </div>
          </div>
        </div>
        </div>
      </div>
     
     
    </ng-template>
  </owl-carousel-o>
</section>


<app-footer></app-footer>