.title{
    color: rgba(69, 90, 100, 1);
    font-weight: 700;
}
.apply-btn .btn{
    background-color: rgba(55, 79, 89, 1);
    color: #fff;
}
.card{
    border-radius: 30px !important;
}
.job-location .card{
    background-color: rgba(245, 245, 245, 1);
    padding: 20px 14px;
}
.job-location{
    position: relative;
    margin-top: 50px;
}
.jobs-img img{
    position: absolute;
    top: -17px;
    left: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.apply-btn .btn{
    border-radius: 30px;
 }
 .ellipsis {
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* margin-top: -29px; */
    margin-bottom: 19px;
}
a{
    text-decoration: none;
}
.location-icon{
    display: flex;
    gap: 5px;
}