<div class="email">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="login-img">
                    <img src="../../../../assets/img/login.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="email full-page-wrapper auth login-bg">
                    <div class="card">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3 text-white">Otp Verification</h3>

                            <form action="">
                                <div class="mb-3">
                                    <label for="" class="from-label text-white">Otp:</label>
                                    <input type="text" class="form-control" [(ngModel)]="ot.otp" #otp="ngModel" name="otp">
                                </div>
                                <div class="verifi-btn text-center" (click)="verifyotp()">
                                    <button class="btn">Verify Otp</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
