.email{
    background-color: #374F59;
    padding: 50px 0;
    background-size: cover
}
.card{
    background-color: rgba(255, 255, 255, .2) !important;
    border-radius: 10px;
}
form{
    padding: 20px 0;
}
.verifi-btn{
    background-color: rgba(165, 232, 211, 1);
    border-radius: 8px;
}