<div class="logi">
<div class="container-fluid">
        <div class="row">
            <!-- <div class="logo">
                <img src="../../../../assets/img/footer-logo.png" alt="" class="img-fluid">
            </div> -->
            <div class="col-lg-7 col-md-6 col-sm-12">
                <div class="login-img">
                    <img src="../../../../assets/img/login.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class=" login full-page-wrapper auth login-bg">
                    <div class="card">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3 text-white">Login</h3>
                            <h6 class="text-white">Empowering Careers,Building Fatures.</h6>
                            <form LoginForm="ngForm" name="LoginForm">
                                <div class="form-group mb-3">
                                    <label class="text-white">Email</label>
                                    <input type="text" class="form-control" name="email"  [(ngModel)]="user.email" email="ngModel">
                                </div>
                                <div class="form-group">
                                    <label class="text-white">Password</label>
                                    <input type="password" class="form-control" name="password"   #password="ngModel"  [(ngModel)]="user.password" >
                                </div>
                                <div class="forget mt-2" routerLink="/email" style="cursor: pointer;">
                                    <h6>Forget Password ?</h6>
                                </div>
                                <div class="login-btn text-center my-3" (click)="OnLogin()">
                                    <button type="submit" class="btn btn-block enter-btn text-dark" 
                                        >Login</button>
                                </div>
                                <div class="title-signup text-center">
                                    <a routerLink="/signup"><h5>Don't have an Account? <button class="btn">SignUp</button></h5></a>
                                </div>
                            </form>
                            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                                {{ errorMessage }}
                              </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


