<div class="email">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="login-img">
                    <img src="../../../../assets/img/login.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="email full-page-wrapper auth login-bg">
                    <div class="card">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3 text-white">Otp Verification</h3>

                            <form #forgetForm="ngForm" name="forgetForm">
                                <div class="mb-3">
                                    <label for="" class="from-label text-white">Email:</label>
                                    <input type="text" class="form-control" [(ngModel)]="pass.emailID" #emailID="ngModel" name="emailID" required emailID/>
                                    <div *ngIf="emailID.invalid && (emailID.dirty || emailID.touched || forgetForm.submitted)" class="text-danger">
                                        <div *ngIf="emailID.errors?.['required']">
                                          emailID is required.
                                        </div>
                                        <div *ngIf="emailID.errors?.['emailID']">
                                          Please enter a valid emailID address.
                                        </div>
                                      </div>
                                </div>
                                <div class="verifi-btn text-center">
                                    <button class="btn" (click)="forget()" [disabled]="!forgetForm.form.valid">Generate Otp</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
