.top-job-details {
  /* background: #9D9D9D; */
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 11px 16px 34px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 16px 34px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 16px 34px -15px rgba(0, 0, 0, 0.75);
  margin: 0px 0px 5pc 0px;
  background: #ffffff;
}

.job-title {
  color: #374f59;
  padding: 40px 0px 25px 0px;
}

.job-details-div-text {
  color: #6d9277;
}

.company-img-div {
  text-align: end;
  margin-top: -40px;
  padding: 0px 0px 40px 0px;
}
.pay-btn i{
  color: #374f59;
}
.pay-btn h5{
  color: #6d9277;
}
.pay-amount h5{
  background-color: #374f59;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 8px;
}
.shift i{
  color: #6d9277;
}
.shift h5{
  color: #6d9277;
}
.evening h5{
  background-color: #374f59;
  border-radius: 8px;
  color: #fff;
}
.day h5{
  background-color: #374f59;
  border-radius: 8px;
  color: #fff;
}
.design {
  background-color: #A5E8D3;
  color: #374F59;
  border-radius: 10px;
  text-align: center;
  padding: 6px 0;
  margin: 5px 0;
}

.skill-title h5{
  color: #6d9277;
}
.call{
  background-color: #374F59;
  padding: 5px 15px;
  text-align: center;
  margin: 0 9px;
  border-radius: 10px;
}
.call .btn{
 
  color: #fff;
}
.apply{
  background-color: #A5E8D3;
  padding: 5px 15px;
  text-align: center;
  margin: 9px 9px;
  border-radius: 10px;
}
.apply .btn{
  color: #374F59;
  font-weight: 700;
}
.card{
  box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
  padding: 10px 15px;
}
.benifit h4{
  color: #6d9277;
  font-weight: 700;
}
.jobs-img img{
  width: 60px;
  height: 60px;
}
.jobss{
  position: relative;
}
.bookmark-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 5px;
}
.job-location i{
  color: #6d9277;
}
.day-shifts{
  background-color: #A5E8D3;
  color: #374F59;
  text-align: center;
  border-radius: 10px;
  padding: 0px 5px;
}
.day-shifts h6{
  line-height: 32px;
}
.rating i{
  color: yellow;
}
.smilar-job h5{
  color: #6D9277;
  font-weight: 700;
}
.companys-logos h5{
  color: #6D9277;
}
.text_wraps h5{
  color: #6D9277;
  font-weight: 500;
}
.job-detsss{
  height: 500px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 4px;
    height: 20%;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(92, 90, 90);
    height: 80px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #6D9277;
  }
}
.website{
  background-color: #374f59;
  padding: 3px 15px;
  line-height: 30px;
  border-radius: 10px;
}
.web-name h5{
  line-height: 30px;
  color: #fff;
}
.web-name .btn{
  color: #fff;
}
.web-icon img{
  width: 20px;
  height: 20px;
}
.apply-btn{
  text-align: center;
  background-color: #A5E8D3;
  padding: 5px 0;
  border-radius: 10px;
}
.apply-btn .btn{
   color: #374F59;
   font-weight: 800;
}
.companyss{
  height: 500px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 4px;
    height: 20%;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(92, 90, 90);
    height: 80px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background:black;
  }
}
.rev{
  height: 500px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 4px;
    height: 20%;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(92, 90, 90);
    height: 80px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background:black;
  }
}
.comp-revi i{
  color: yellow;
  font-size: 30px;
}
.comp-revi h4{
  color: #374F59;
  font-size: 32px;
  font-weight: 700;
}
.user-name i{
  color: yellow;
}
.nav-pills .nav-link.active{
  background-color: #A5E8D3;
  color: #374F59;
}
.nav-pills .nav-link{
  color: #374F59;
}
