<app-navbar></app-navbar>

<!---------------------------------------------- company-detail start ------------------------------------------->
<section class="compnay-details">
  <div class="container">
    <div class="row">
      <ng-container *ngIf="details">
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="job-back">
          <div class="compnay-location">
            <div class="location-icon d-flex flex-wrap aligm-items-center">
              <i class="bi bi-geo-alt"></i>
              <h5>{{details.companyAddress}}</h5>
            </div>
          </div>

          <div class="job-details">
            <div class="col-lg-12">
              <div class="card">
                <div class="compnay">
                  <div class="logo me-3">
                    <img src="{{imgurl + details.companyLogo}}" alt="" class="img-fluid">
                  </div>
                  <div class="compnay-desc">
                    <h2>{{details.jobPostTitle}}</h2>
                    <p>{{details.jobDescription}}</p>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </ng-container>
    </div>
  </div>
</section>
<!----------------------------------------------- company-details end ------------------------------------------>


<!------------------------------------------------- job-details start ------------------------------------------------->
<section class="job-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="job-title">
          <h2>Job-Details</h2>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body" *ngIf="details">
            <div class="job-salary">
              <h5>Salary:</h5>
            </div>
            <div class="salary-month">
              <h5>₹{{details.jobSalaryStart | formatNumber}} - ₹{{details.jobSalaryEnd | formatNumber}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body" *ngIf="details">
            <div class="job-salary">
              <h5>Working Type:</h5>
            </div>
            <div class="salary-month">
              <h5>{{ mapstatustotext(details.workingType) }}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body" *ngIf="details">
            <div class="job-salary">
              <h5>Shift Type:</h5>
            </div>
            <div class="salary-month">
              <h5>{{MapStatusText (details.shiftType) }}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body" *ngIf="details">
            <div class="job-salary">
              <h5>Days Of Work:</h5>
            </div>
            <div class="salary-month">
              <h5>{{details.daysOfWork}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="apply-btn">
          <button class="btn" routerLink="/jobapply">Apply Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--------------------------------------------------- job-details end -------------------------------------------------->


<!----------------------------------------------------- about start ------------------------------------------------>
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="about-title">
          <h3>About This Company</h3>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="about-desc">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit porro aut minima pariatur nobis adipisci
            dolorem obcaecati suscipit fuga! Omnis atque excepturi voluptates sed, deserunt consequuntur nihil
            cupiditate laborum laboriosam accusamus provident facere suscipit eveniet dolorem veritatis vero quis,
            voluptate numquam magni animi similique, reprehenderit dicta molestiae dolore? Sint maxime quasi odio
            voluptate cumque? Saepe aperiam error distinctio ipsa dolores.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!----------------------------------------------------- about End ------------------------------------------------>


<!----------------------------------------------------- overview start ------------------------------------------------>
<section class="overview">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="overview-title">
          <h3>Benifits:</h3>
        </div>
        <ng-container *ngFor="let d of benifits">
        <div class="overview-des">
         <li>{{d.jobPostBenifit}}</li>
        </div>
      </ng-container>
      </div>
    </div>
  </div>
</section>
<!----------------------------------------------------- overview end ------------------------------------------------>


<!----------------------------------------------------- Skills Start ------------------------------------------------>
<section class="benifits">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="benifits-title">
          <h3>Skills:</h3>
        </div>
      </div>
      <ng-container *ngFor="let d of skills">
      <div class="col-lg-12">
        <div class="benifits-list">
          <ul>
            <li>{{d.skillTag}}</li>
          </ul>
        </div>
      </div>
    </ng-container>
    </div>
  </div>
</section>

<!----------------------------------------------------- Skills End ------------------------------------------------>


<!----------------------------------------------------- Overview Start ------------------------------------------------>
<section class="overview">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="overview-title">
          <h3>Review:</h3>
        </div>
      </div>
      <div class=" mb-3 review d-flex flex-wrap aligm-item-center justify-content-center">
        <div class="ratings pe-2">
          <h3>4.7</h3>
        </div>
        <div class="rating-icon">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <h5>From 20 People</h5>
        </div>

      </div>

      <div class="col-lg-12">
        <div class="row jb-title">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="jb-title-text">
              <h4>Jobs based on your profile</h4>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="seeall text-end">
              <h6>Seeall</h6>
            </div>
          </div>
        </div>
      </div>
      <section class="Jobsbasedonyourprofile">
        <div class="module-slider">
          <owl-carousel-o [options]="customOptions3">
            <ng-template carouselSlide>
              <div class="container">
                <div class="row">

                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card my-3 py-3">
                      <div class="review-img text-center">
                        <img src="../../../../assets/img/reviewimg58.png" class="w-25 mx-auto" alt="...">
                      </div>
                      <div class="card-body text-center">
                        <div class="star">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="review-name">
                          <h5 class="card-title">Cristina crizzal</h5>
                        </div>
                        <div class="review-des">
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, impedit doloremque! Illum
                            repellat ea quis fugit laboriosam eum et repudiandae excepturi ipsam temporibus facere ut
                            iste earum placeat.</p>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card my-3 py-3">
                      <div class="review-img text-center">
                        <img src="../../../../assets/img/reviewimg58.png" class="w-25 mx-auto" alt="...">
                      </div>
                      <div class="card-body text-center">
                        <div class="star">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="review-name">
                          <h5 class="card-title">Cristina crizzal</h5>
                        </div>
                        <div class="review-des">
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, impedit doloremque! Illum
                            repellat ea quis fugit laboriosam eum et repudiandae excepturi ipsam temporibus facere ut
                            iste earum placeat.</p>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card my-3 py-3">
                      <div class="review-img text-center">
                        <img src="../../../../assets/img/reviewimg58.png" class="w-25 mx-auto" alt="...">
                      </div>
                      <div class="card-body text-center">
                        <div class="star">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="review-name">
                          <h5 class="card-title">Cristina crizzal</h5>
                        </div>
                        <div class="review-des">
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, impedit doloremque! Illum
                            repellat ea quis fugit laboriosam eum et repudiandae excepturi ipsam temporibus facere ut
                            iste earum placeat.</p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </section>
    </div>
  </div>
</section>
<!----------------------------------------------------- Overview End ------------------------------------------------>


<!----------------------------------------------------- smilar job start -------------------------------------------------------->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="smilar-title mb-3">
          <h3>Similar job</h3>
        </div>
      </div>


      <section class="similarjob">
        <div class="module-slider">
          <owl-carousel-o [options]="customOptions3">
            <ng-template carouselSlide *ngFor="let d of job">
                    <div class="card my-3 pt-3 mx-3 py-3">
                      <div class="similar-img  px-3 d-flex flex-wrap align-items-center justify-content-between">
                        <img src="{{imgurl + d.companyLogo}}" class="img-fluid" alt="...">
                        <h5>{{mapstatustotext (d.workingType)}}</h5>
                      </div>
                      <div class="card-body mt-3">
                        <div class="job-name ps-3">
                          <h5>{{d.jobPostTitle}}</h5>
                        </div>
                        <div class="job-tech ps-3">
                          <h6>{{d.companyName}}</h6>
                        </div>
                       <div class="job-location d-flex flex-wrap align-item-center ps-3">
                        <div class="location-icon">
                          <i class="bi bi-geo-alt"></i>
                        </div>
                        <div class="location-name">
                          <h6>{{d.companyAddress | slice: 0:40}}</h6>
                        </div>
                       </div>
                       <div class="view-job text-center">
                        <button class="btn text-white">View Job</button>
                       </div>

                      </div>
                    </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </section>
    </div>
  </div>
</section>

<!----------------------------------------------------- smilar job end -------------------------------------------------------->


<app-footer></app-footer>