<app-navbar></app-navbar>
<section class="main">
    <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="title text-center my-5">
                        <h1>Apply Job</h1>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="apply">
                        <div class="card">
                            <div class="job-progress">
                                <div class="progress-title">
                                    <h3>Step 1</h3>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 13px;">
                                    <div class="progress-bar w-50"></div>
                                  </div>
                            </div>

                                <div class="company my-4 d-flex flex-wrap align-items-center">
                                    <div class="company-logo">
                                        <img src="../../../../assets/img/jobs-fedd.png" alt="">
                                    </div>
                                    <div class="compnay-name ms-4">
                                        <h4>Ui/Ux designer</h4>
                                        <h5>Agency Business Lead</h5>
                                    </div>
                                </div>

                                <div class="cover">
                                    <div class="title">
                                        <h3>Cover Letter*</h3>
                                    </div>
                                    <div class="cover-letter">
                                        <form action="">
                                            <div class="mb-3">
                                                <textarea type="text" class="form-control"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="upload">
                                    <div class="title">
                                        <h3>Upload a CV*</h3>
                                    </div>
                                    <div class="cv">
                                        <form action="">
                                            <div class="mb-3">
                                                <input type="file" class="form-control">
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="media d-flex flex-wrap align-items-center justify-content-between">
                                    <h5>Select From Your Media</h5>
                                    <i class="bi bi-chevron-compact-right"></i>
                                </div>

                                <div class="conti-btn text-center my-4">
                                    <button class="btn py-2" routerLink="/success">Continue</button>
                                </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-lg-6">
                    <div class="job-applys text-center">
                        <img src="../../../../assets/img/jobapplys.png" alt="Job-Poster" class="img-fluid">
                    </div>
                </div>
            </div>
        
    </div>
</section>

<app-footer></app-footer>
