<app-navbar></app-navbar>
<section class="main">
    <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="title text-center my-5">
                        <h1>Apply Job</h1>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="apply">
                        <div class="card">
                            <div class="job-progress">
                                <div class="progress-title">
                                    <h3>Step 1</h3>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 13px;">
                                    <div class="progress-bar w-50"></div>
                                  </div>
                            </div>
                            <ng-container *ngIf="details">
                                <div class="company my-4 d-flex flex-wrap align-items-center">
                                    <div class="company-logo">
                                        <img src="{{imgurl + details.companyLogo}}" alt="" class="img-fluid" style="width: 120px; height: 45px ;">
                                    </div>
                                    <div class="compnay-name ms-4">
                                        <h5>{{details.jobPostTitle}}</h5>
                                        <p>{{details.jobDescription}}</p>
                                    </div>
                                </div>
                            </ng-container>
                                <div class="cover">
                                    <div class="title">
                                        <h3>Cover Letter*</h3>
                                    </div>
                                    <div class="cover-letter">
                                        
                                            <div class="mb-3">
                                                <textarea type="text" class="form-control"  [(ngModel)]="JobData.applicationBrief" id="applicationBrief" name="applicationBrief"></textarea>
                                            </div>
                                     
                                    </div>
                                </div>

                                <div class="upload">
                                    <div class="title">
                                        <h3>Upload a CV*</h3>
                                    </div>
                                    <div class="cv">
                                        <form action="">
                                            <div class="mb-3">
                                                <!-- <input type="file" id="attachmentFileBase64" class="form-control" [(ngModel)]="JobData.attachmentFileBase64"
                                                name="attachmentFileBase64"  attachmentFileBase64="ngModel" (change)="base($event)" required> -->
                                            </div>

                                            <input type="file" name="attachmentFileBase64" id="file" (change)="onFileSelected($event)"
                                            #attachmentFileBase64="ngModel" [(ngModel)]="JobData.attachmentFileBase64" required>
                                        </form>
                                    </div>
                                </div>

                                <!-- <div class="media d-flex flex-wrap align-items-center justify-content-between">
                                    <h5>Select From Your Media</h5>
                                    <i class="bi bi-chevron-compact-right"></i>
                                </div> -->
                                <div class="d-flex flex-wrap align-items-center justify-content-between">
                                    <label for="mediaSelect">Select From Your Media</label>
                                    <select class="select mt-2" id="mediaSelect" style="width: 100%; border-radius:5px; border: 2px solid black;" (change)="onMediaSelect($event)">
                                        <!-- If isOptionSelected is true, disable the default selection -->
                                        <option [selected]="!isOptionSelected" [disabled]="isOptionSelected">Select an option</option>
                                        <!-- Iterate over userMediaOptions to display selectable options -->
                                        <option *ngFor="let media of userMediaOptions" [value]="media.userMediaUrl">{{ media.userMediaTitle }}</option>
                                    </select>
                                </div>
                                    
                                <div class="conti-btn text-center my-4">
                                    <button class="btn py-2" (click)="JobApplyData()">Continue</button>
                                </div>
                                <!-- routerLink="/success" -->
                        </div>
                    </div>
                    
                </div>

                <div class="col-lg-6">
                    <div class="job-applys text-center">
                        <img src="../../../../assets/img/jobapplys.png" alt="Job-Poster" class="img-fluid">
                    </div>
                </div>
            </div>
        
    </div>
</section>

<app-footer></app-footer>
