.logo-set-div {
  width: 228px;
  height: 70px;
}

ul li a {
  padding-inline-start: 40px;
  font-weight: 600;
  font-size: 17px;
}

.btn-div-crl {
  width: 89px;
  height: 32.17px;
  border-radius: 20px;
  border: none;
  color: #374f59;
  background: #a5e8d3;
}

.btn-div-crl-register {
  width: 100px;
  height: 32.17px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background: #374f59;
}

.Home-div {
  color: #6d9277 !important;
}
.compnay-logo img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.noti-title h5{
  color: rgba(109, 146, 119, 1);
}
.noti-title h6{
  color: rgba(55, 79, 89, 1);
  font-weight: 700;
}
.noti-time h6{
  color: rgba(109, 146, 119, 1);
}

.BG {
  background-color: rgb(165 232 211 / 20%);
}

@media (max-width: 320px) {


  .logo-set-div {
    height: 70px;
    width: 100%;
  }
}

@media (max-width: 768px) {

  .nav-w-img {
    width: 64%;
  }

  .logo-set-div {
    height: 70px;
  }
}