
<nav class="navbar navbar-expand-lg   BG" ><!-- sticky-top -->
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand nav-w-img" href="#">
            <img src="/assets/img/logo-full.png" alt class="img-fluid logo-set-div" >
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active Home-div" aria-current="page" href="#"  >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Find Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <button class=" me-2 btn-div-crl" (click)="logout()">LogOut</button>
                <button class=" me-2 btn-div-crl-register" routerLink="/signup">Register</button>
                <h5 class="text-dark">{{title}}</h5>
            </form>
          
        </div>
    </div>
</nav>