
<nav class="navbar navbar-expand-lg   BG" ><!-- sticky-top -->
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand nav-w-img" href="#">
            <img src="/assets/img/logo-full.png" alt class="img-fluid logo-set-div">
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active Home-div" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/jobs">Find Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/companies">Companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact us</a>
                </li>

            </ul>
            <div class="user-noti d-flex flex-wrap align-items-center">
               <div class="noti">
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-bell"></i></button>
               </div>
               <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <i class="bi bi-person fs-5"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">{{firstName}}</a></li>
                    <li><a class="dropdown-item" routerLink="/profile">My Profile</a></li>
                    <li><a class="dropdown-item" routerLink="/myapply">My Apply</a></li>
                  <li><a class="dropdown-item" (click)="logout()">LogOut</a></li>
                </ul>
              </div>
            </div>


            <!-- notification modal start -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Notification</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="notification">
                        <div class="title text-center mb-3">
                            <h4>Recommended Jobs</h4>
                        </div>
                        <hr>
                        <div class="noti d-flex flex-wrap align-items-center justify-content-between">
                            <div class="compnay-logo">
                                <img src="../../../../assets/img/noti.png" alt="">
                            </div>
                            <div class="noti-title">
                                <h5>Application Status</h5>
                                <h6>Hiring For Information...Application Sent</h6>
                            </div>
                            <div class="noti-time">
                                <h6>17M</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="noti d-flex flex-wrap align-items-center justify-content-between">
                            <div class="compnay-logo">
                                <img src="../../../../assets/img/noti.png" alt="">
                            </div>
                            <div class="noti-title">
                                <h5>Application Status</h5>
                                <h6>Hiring For Information...Application Sent</h6>
                            </div>
                            <div class="noti-time">
                                <h6>17M</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="noti d-flex flex-wrap align-items-center justify-content-between">
                            <div class="compnay-logo">
                                <img src="../../../../assets/img/noti.png" alt="">
                            </div>
                            <div class="noti-title">
                                <h5>Application Status</h5>
                                <h6>Hiring For Information...Application Sent</h6>
                            </div>
                            <div class="noti-time">
                                <h6>17M</h6>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- notification modal End -->
          

        </div>
    </div>
</nav>